.property-media {
  margin-top: 4%;
    margin-right: 15%;
    margin-left: 0%;
    background: transparent;
  padding: 20px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-media__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.property-media__actions {
  width: 90%;
  /* background-color: red; */
  display: flex;
  flex-direction: column; /* Stack the buttons and previews vertically */
  gap: 15px;
}

.property-media__actions button,
.property-media__actions input {
  cursor: pointer;
}

.property-media__button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  width: 30%;
}

.property-media__button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.property-media__button:hover:not(:disabled) {
  background-color: #0056b3;
}

.property-media__preview {
  display: flex;
  padding: 10px 27.5px;
  height: 124px;
  gap: 20px;
  border-radius: 5px;
  min-width: 90%;
  flex-wrap: wrap;
  margin-top: 1px;
  background-color: rgba(67, 67, 67, 0.5);
}

.property-media__preview-item {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #eee;
  
}

.error-message-media{
  font-size: 14px;
  text-align: center;
  margin: auto;
}

.property-media__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-media__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.property-media__remove {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 2px 3px;
  font-size: 12px;
  cursor: pointer;
}

.property-media__remove:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.property-media__preview-item button {
  font-size: 14px;
}

.hidden {
  display: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .property-media__actions {
    flex-direction: column;
    gap: 10px;
  }

  .property-media__preview {
    gap: 15px;
    justify-content: center;
  }

  .property-media__preview-item {
    width: 100px;
    height: 100px;
  }
}
