.form-section{
    padding-bottom: 5px;
}

.form-group{
    /* background-color: red; */
    margin-top: 10px;
}

.button-container{
    width: 60%;
}

.form-group label{
    margin-bottom:20px; 
}

.form-action{
    margin-top: 30px;
}